altgraph
contourpy
customtkinter
cycler
darkdetect
et-xmlfile
fonttools
fpdf
kiwisolver
openpyxl
packaging
pefile
pillow
pip
pyinstaller
pyinstaller-hooks-contrib
pyparsing
python-dateutil
pywin32-ctypes
setuptools
six
tk